<!DOCTYPE html>
<html>
<head>
<meta name='viewsport' content='width=device-width,initial/scale=1'>
<link rel="stylesheet" type="text/css" href="tables.css">
  <style>
table,th {
	border: 1px solid black;
}

th, td {
  text-align: left;
  padding: 8px;
}
div {
  width: 1500px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}



tr:nth-child(even){background-color: #f2f2f2}
</style>

</head>
 <h1> CPU Simulator</h1>
<div class="container">
 <span>
  <table align="right" style="vertical-align: top;">
  <tr>
    <th>ADDRESS</th>
    <th>DATA</th>
  </tr>
  <tr>
    <th>0</th>
    <th></th>
  </tr>
  <tr>
    <th>1</th>
    <th></th>
  </tr>
  <tr>
    <th>2</th>
    <th></th>
  </tr>
  <tr>
    <th>3</th>
    <th></th>
  </tr>
  <tr>
    <th>4</th>
    <th></th>
  </tr>
  <tr>
    <th>5</th>
    <th></th>
  </tr>
 </table>
</span>

<h2>REGISTER A</h2>
<div class="fixed">
</div>	


<h2>REGISTER B</h2>
<div class="fixed">
</div>

<h2>REGISTER C</h2>
<div class="fixed">
</div>

<h2>REGISTER B</h2>
<div class="fixed">
</div>
</div>



 
 <button type="button" onclick="alert('Prueba 1')">Run</button>

 <button type="button" onclick="alert('Prueba 2')">Debug</button>
</body>
</html>